body{
    font-family: 'Roboto Slab', serif;
}
.setup-section{
    display: flex;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 2%;
    text-align: justify;
}
.setup-division{
    width: 50%;
    margin-right: 8%;
}
.setup-division img{
          width: 70%;
         
}
h1{
    font-size: 40px;
}


#set-border{
    border-left: 3px solid;
    border-color: blueviolet;
    padding-left: 20px;
    text-align: justify;
}
.set-color{
    color: orange;
}
.link-button{
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 700px;
    color: white;
}






footer{
    color: white;
    text-align: center;
    background-color: #351335;
    padding: 3px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}
footer h1{
    font-style: italic;
}